<!DOCTYPE html>
<html>
	<head>
		<title>Week 3 Lab</title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="
		stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
	</head>
	<body>
		<div id="content">
			{% block body %}{% endblock %}
		</div>
		<div id="nav">
			Navigation:<br />
			<ul>
				{% block nav %}{% endblock %}
				<hr id="nav"/>
				{% if 'username' in session %}
				<li><a href="{{url_for('remote')}}">Remote Control</a></li>
				<li><a href="{{url_for('triangle')}}">Triangle App</a></li>
				<li><a href="{{url_for('music')}}">Music</a></li>
				<li><a href="{{url_for('asteroids')}}">Asteroids</a></li>
				<li><a href="{{url_for('remotezsnes')}}">Remote SNES</a></li>
				<li><a href="{{url_for('coffeedata')}}">Coffee Database</a></li>
				{% else %}
				<li><a href="{{url_for('login')}}">Login</a></li>
				{% endif %}
			</ul>
		</div>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>