{% extends "base.html" %}
{% block body %}
<div style="padding-top:5px">
<ul class="thumbnails">
	<li class="span3">
		<a href="http://www.ajleonardi.co" class="thumbnail">
			<img src="/static/img/AnthonyAndLucia.jpg" alt="">
			<div class="caption">
				<h5>My Home Page</h5>
				<p>This is a home page I made which links to my other pages...</p>
			</div>
		</a>
	</li>
	<li class="span3">
		<a href="http://www.ajleonardi.co" class="thumbnail">
			<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSG50jUI-lPOCuteX3fuCbI42Qz9u8otvJvOguEdrOVSGI9_Fv6og" alt="">
			<div class="caption">
				<h5>Quora!</h5>
				<p>Who doesn't love this??</p>
			</div>
		</a>
	</li>
	<li class="span3">
		<a href="http://www.ajleonardi.co" class="thumbnail">
			<img src="https://twimg0-a.akamaihd.net/profile_images/1212231829/wbur-twitter.png" alt="">
			<div class="caption">
				<h5>WBUR</h5>
				<p>Support local public radio and news!</p>
			</div>
		</a>
	</li>
</ul>
</div>


{% endblock %}